@import "@/theme/breakpoint";

.sidebar {
  width: 240px;
  padding: var(--space-base);
  background-color: var(--color-gray-100);

  &__menu {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    cursor: pointer;
    border-radius: var(--rounded);
    transition: all 0.3s;
    padding: var(--space-base);
  }

  &__item:hover {
    color: var(--color-slate-800);
    background-color: var(--color-gray-200);
  }

  &__item--active {
    background-color: var(--color-gray-200);
  }

  &__icon {
    font-size: var(--text-base);
    color: var(--color-gray-600);
  }

  &__name {
    font-size: var(--text-base);
    color: var(--color-gray-600);
  }

  &__setting a {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    cursor: pointer;
    padding: var(--space-base);
    cursor: pointer;
  }
}

@include breakpoint-down(lg) {
  .sidebar {
    width: 80px;

    &__name {
      display: none;
    }
  }
}
