:root {
  --color-primary-red: hsl(0, 100%, 74%);
  --color-primary-green: hsl(154, 59%, 51%);
  --color-primary-green-dark: hsl(154, 55%, 43%);

  --color-accent-blue: hsl(248, 32%, 49%);

  --color-neutral-blue-dark: hsl(249, 10%, 26%);
  --color-neutral-grayish-blue: hsl(246, 25%, 77%);

  --color-foreground-white: white;

  // Gray
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-400: #9ca3af;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;

  // Slate
  --color-slate-800: #1e293b;

  // Blue
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
}
