.sidebar {
  width: 320px;
  padding: var(--space-base);
  background-color: var(--color-gray-100);

  &__items {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    cursor: pointer;
    border-radius: var(--rounded);
    transition: all 0.3s;
    padding: var(--space-base);
  }

  &__item:hover {
    color: var(--color-slate-800);
    background-color: var(--color-gray-200);
  }

  &__item--active {
    background-color: var(--color-gray-200);
  }

  &__item-icon {
    font-size: var(--text-base);
    color: var(--color-gray-400);
  }

  &__item-title {
    font-size: var(--text-base);
    color: var(--color-gray-600);
  }

  &__folder {
    padding: var(--space-base);
    cursor: pointer;
  }

  &__folder-title {
    color: var(--color-slate-800);
    font-size: var(--text-sm);
  }
}
